{% extends "default/module.html.jinja2" %}
{% block title %}{{ module.modulename }} {{ module.__version__ }} documentation{% endblock %}
{% block nav_footer %}
    <footer>
        Copyright © 2021-2022 Sofia "dzshn" N. L. <br>
        Documentation generated using <a title="pdoc: Python API documentation generator" href="https://pdoc.dev"><b>pdoc</b></a>
    </footer>
{% endblock %}
{% block attribution %}{% endblock %}
